@media screen and (min-width: 992px) {
  .banner {
    height: 600px;
  }
  .menu {
    height: 800px;
    width: 100%;
    margin-top: -150px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 1px 1px 35px #22222271;
            box-shadow: 1px 1px 35px #22222271;
  }
  .menu .menu-title {
    margin-left: 43%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu .menu-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu .menu-block .menu-sub-title {
    width: 100%;
  }
  .menu .menu-block .card-menu-dish {
    width: 30%;
  }
  .explorer {
    height: 500px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .explorer .explorer-content {
    padding-top: 130px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .explorer .explorer-content .explorer-btn {
    width: 20% !important;
  }
  .functioning-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: -20px;
  }
  .functioning-container .functioning-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 20%;
    margin: 20px;
    height: 200px;
  }
  .functioning-container .functioning-block .step {
    margin-left: 0px;
    margin-top: -30px;
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .functioning-container .functioning-block i {
    font-size: 30px;
    margin: 25px;
    padding: 0;
  }
  .card-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-section .card {
    margin: 25px;
    max-height: 300px;
    max-width: 20%;
    position: relative;
  }
  .card-section .card:hover {
    -webkit-box-shadow: 1px 1px 20px gray;
            box-shadow: 1px 1px 20px gray;
  }
  .card-section .card:hover img {
    -webkit-box-shadow: 1px 1px 15px gray;
            box-shadow: 1px 1px 15px gray;
    border-radius: 20px;
    -webkit-transform: scale(1.08) skewY(2deg);
            transform: scale(1.08) skewY(2deg);
  }
  .card-section .card:hover .card-title {
    color: #9356dc;
  }
}
/*# sourceMappingURL=desktop.css.map */