html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
}

header {
  padding-top: 10px;
  text-align: center;
}

header header:not(.header-title) {
  max-height: 320px;
}

.logo {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin: 5px;
  font-family: "Shrikhand";
}

.wrapper {
  padding: 0;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  -webkit-box-shadow: inset 1px 1px 4px 1px #2c2c2c48;
          box-shadow: inset 1px 1px 4px 1px #2c2c2c48;
}

.wrapper nav .localisation {
  -webkit-box-shadow: inset 0 3px 5px -5px #2c2c2c;
          box-shadow: inset 0 3px 5px -5px #2c2c2c;
}

.wrapper nav .localisation p {
  padding-left: 5px;
  font-family: "Roboto";
}

.explorer {
  background-color: #f8f8f8;
  height: 210px;
}

.explorer .explorer-title {
  margin: 0px 80px 0px 80px;
  padding-top: 20px;
}

.explorer .explorer-subtitle {
  font-size: 17px;
  padding: 5px 40px 5px 40px;
}

.explorer .explorer-btn {
  display: inline-block;
  padding: 12px 15px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 30px;
}

.btn-secondary {
  color: #ffffff;
  border-color: none;
  background-color: #9356dc;
  background-size: 0% 100%;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#FF79DA), to(#9356dc));
  background-image: linear-gradient(to left top, #FF79DA, #9356dc);
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-secondary:hover {
  border-color: none;
  background-color: #9356dc;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#9356dc), to(#FF79DA));
  background-image: linear-gradient(to right top, #9356dc, #FF79DA);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.functioning {
  padding: 20px 20px 0px 20px;
}

.functioning .functioning-block {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
  border-radius: 25px;
}

.functioning .functioning-block:hover {
  -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #ebe1f8fb;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.functioning .functioning-block:hover i {
  color: #9356dc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.functioning .functioning-block .step {
  background-color: #9356dc;
  width: 18px;
  margin-left: -10px;
  padding: 5px;
  border-radius: 50px;
  color: #f8f8f8;
  text-align: center;
}

.functioning .functioning-block i {
  padding-left: 25px;
}

.functioning .functioning-block p {
  padding-left: 35px;
}

.restaurant-card-section {
  margin-top: 30px;
  background-color: #f8f8f8;
  padding: 20px 20px 0px 20px;
}

.restaurant-card-section .card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  border-radius: 20px;
  margin-top: 15px;
  -webkit-animation: slideup 2s forwards;
          animation: slideup 2s forwards;
  opacity: 0;
}

.restaurant-card-section .card:nth-child(2) {
  -webkit-animation-delay: calc(2s/8);
          animation-delay: calc(2s/8);
}

@-webkit-keyframes slideup {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
  .restaurant-card-section:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes slideup {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
  .restaurant-card-section:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.restaurant-card-section img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.restaurant-card-section .container {
  padding: 2px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant-card-section .container .like {
  margin-right: 10px;
}

.restaurant-card-section .container .like:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9356dc));
  background: linear-gradient(to top, #ff79da, #9356dc);
  background: -webkit-linear-gradient(to top, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.restaurant-card-section .ribbon {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
  width: 150px;
  height: 150px;
}

.restaurant-card-section .ribbon span {
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  color: #396156;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  width: 150px;
  display: block;
  background: #a6e9d7;
  position: absolute;
  top: 15px;
  right: 15px;
}

.restaurant-card-section .main-menu {
  margin-top: -30px;
  background-color: #f8f8f8;
  border-radius: 50px 50px 0px 0px;
}

.restaurant-card-section h2.resto {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin: 5px;
  font-family: "Shrikhand";
  margin: 30px 6% 0px;
}

.banner {
  width: 100%;
  height: 300px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.a {
  background-image: url("../imgs/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.b {
  background-image: url("../imgs/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.c {
  background-image: url("../imgs/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.d {
  background-image: url("../imgs/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.nav-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 36%;
  margin-left: 5%;
}

.menu {
  background-color: #f0f0f0;
  border-radius: 25px 25px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -40px;
  padding-bottom: 15px;
}

.menu .menu-title {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu-title .like {
  margin-right: 10px;
  cursor: pointer;
}

.menu .menu-title .like:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9356dc));
  background: linear-gradient(to top, #ff79da, #9356dc);
  background: -webkit-linear-gradient(to top, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.menu .menu-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 90%;
}

.menu .menu-block .menu-sub-title {
  border-bottom: 2px solid #99E2D0;
  width: 20%;
}

.card-menu-dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: none;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: card-in 1500ms ease-in-out forwards;
          animation: card-in 1500ms ease-in-out forwards;
}

.card-menu-dish--1 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.card-menu-dish--2 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.card-menu-dish--3 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.card-menu-dish--4 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.card-menu-dish--5 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.card-menu-dish--6 {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.card-menu-dish--7 {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
}

.card-menu-dish--8 {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}

.card-menu-dish--9 {
  -webkit-animation-delay: 2700ms;
          animation-delay: 2700ms;
}

.card-menu-dish--10 {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

.card-menu-dish:hover > .card-menu-dish__checkbox {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center right;
          transform-origin: center right;
  width: 6rem;
}

.card-menu-dish:hover > .card-menu-dish__checkbox > i {
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
}

.card-menu-dish__infos {
  width: 100%;
  padding: 0 0 10px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-menu-dish__title {
  font-size: 1.1rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-menu-dish__seasoning {
  font-size: 0.9rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-menu-dish__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  margin-right: 15px;
}

.card-menu-dish__checkbox {
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  color: #fff;
  width: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: hidden;
}

.card-menu-dish__checkbox i {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.footer-section {
  background-color: #3f3f3f;
  color: #fff;
  bottom: 0;
}

.footer-section .logo {
  color: #fff;
  padding-left: 20px;
}

.footer-section ul {
  margin: 0;
}

.footer-section ul li {
  list-style: none;
}
/*# sourceMappingURL=style.css.map */