a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto";
}

header {
  padding-top: 10px;
  text-align: center;
}

header header:not(.header-title) {
  max-height: 320px;
}

.logo {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin: 5px;
  font-family: "Shrikhand";
}

.wrapper {
  padding: 0;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  -webkit-box-shadow: inset 1px 1px 4px 1px #2c2c2c48;
          box-shadow: inset 1px 1px 4px 1px #2c2c2c48;
}

.wrapper nav .localisation {
  -webkit-box-shadow: inset 0 3px 5px -5px #2c2c2c;
          box-shadow: inset 0 3px 5px -5px #2c2c2c;
}

.wrapper nav .localisation p {
  padding-left: 5px;
  font-family: "Roboto";
}

.explorer {
  background-color: #f8f8f8;
  height: 260px;
}

.explorer .explorer-title {
  margin: 0px 80px 0px 80px;
  padding-top: 20px;
}

.explorer .explorer-subtitle {
  font-size: 17px;
  padding: 5px 40px 5px 40px;
}

.explorer .explorer-btn {
  color: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356dc));
  background: linear-gradient(#FF79DA, #9356dc);
  border-radius: 30px;
  font-size: 17px;
  border: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  height: 50px;
  width: 40%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.explorer .explorer-btn:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#fc90dd), to(#a479d8));
  background: linear-gradient(#fc90dd, #a479d8);
}

.functioning {
  padding: 20px 20px 0px 20px;
}

.functioning .functioning-block {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
  border-radius: 25px;
}

.functioning .functioning-block:hover {
  -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #ebe1f8fb;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.functioning .functioning-block:hover i {
  color: #9356dc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.functioning .functioning-block .step {
  background-color: #9356dc;
  width: 18px;
  margin-left: -10px;
  padding: 5px;
  border-radius: 50px;
  color: #f8f8f8;
  text-align: center;
}

.functioning .functioning-block i {
  padding-left: 25px;
}

.functioning .functioning-block p {
  padding-left: 35px;
}

.restaurant-card-section {
  margin-top: 30px;
  background-color: #f8f8f8;
  padding: 20px 20px 0px 20px;
}

.restaurant-card-section .card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  border-radius: 20px;
  margin-top: 15px;
  -webkit-animation: slideup 2s forwards;
          animation: slideup 2s forwards;
  opacity: 0;
}

.restaurant-card-section .card:nth-child(2) {
  -webkit-animation-delay: calc(2s/8);
          animation-delay: calc(2s/8);
}

@-webkit-keyframes slideup {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
  .restaurant-card-section:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes slideup {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
  .restaurant-card-section:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.restaurant-card-section img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-card-section .container {
  padding: 2px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant-card-section .container .like {
  margin-right: 10px;
}

.restaurant-card-section .container .like:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9356dc));
  background: linear-gradient(to top, #ff79da, #9356dc);
  background: -webkit-linear-gradient(to top, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.restaurant-card-section .ribbon {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
  width: 150px;
  height: 150px;
}

.restaurant-card-section .ribbon span {
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  color: #396156;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  width: 150px;
  display: block;
  background: #a6e9d7;
  position: absolute;
  top: 15px;
  right: 15px;
}
/*# sourceMappingURL=style.css.map */