$primary: #f8f8f8
$bgsection: #f0f0f0
$shadow: #2c2c2c
$mainfont: "Roboto"
$logofont: "Shrikhand"
$secondary: #FF79DA
$color-first: #9356dc
$tertiaire: #99E2D0

html
    scroll-behavior: smooth
    -webkit-font-smoothing: antialiased

a
    text-decoration: none
    color: black
body
    margin: 0px
    padding: 0px
    font-family: $mainfont
header
    padding-top: 10px
    text-align: center

    header:not(.header-title)
        max-height: 320px

.logo
    font-size: 27px
    font-weight: 500
    color: black
    margin: 5px
    font-family: $logofont

.wrapper
    padding: 0
    margin: 0 auto
    background-color: $bgsection

    nav
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        padding: 5px
        box-shadow: inset 1px 1px 4px 1px #2c2c2c48

        .localisation
            box-shadow: inset 0 3px 5px -5px #2c2c2c

            p
                padding-left: 5px
                font-family: $mainfont

.explorer
    background-color: $primary
    height: 210px

    .explorer-title
        margin: 0px 80px 0px 80px
        padding-top: 20px

    .explorer-subtitle
        font-size: 17px
        padding: 5px 40px 5px 40px

.explorer-btn
    padding: 12px 15px
    border: none
    box-sizing: border-box
    font-size: 1em
    text-align: center
    text-decoration: none
    cursor: pointer
    border-radius: 30px
    background-image: linear-gradient(to top, $secondary, $color-first)
    color: #fff
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    transition: all 0.5s
    &:hover
        box-shadow: 5px 8px 15px 0 rgba(0,0,0,0.2)
        background-image: linear-gradient(to left top, $secondary, $color-first)

.functioning
    padding: 20px 20px 0px 20px

    .functioning-block
        height: 70px
        display: flex
        flex-direction: row
        align-items: center
        margin-top: 15px
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
        background-color: $primary
        border-radius: 25px

        &:hover
            box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2)
            background-color: #ebe1f8fb
            transition: 0.5s
            i
                color: $color-first
                transition: 0.4s
        .step
            background-color: $color-first
            width: 18px
            margin-left: -10px
            padding: 5px
            border-radius: 50px
            color: $primary
            text-align: center
        i
            padding-left: 25px
        p
            padding-left: 35px

.restaurant-card-section
    margin-top: 30px
    background-color: $primary
    padding: 20px 20px 0px 20px

    .card
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
        transition: 0.3s
        width: 100%
        border-radius: 20px
        margin-top: 15px
        position: relative
        &:hover
            box-shadow: 0 8px 36px 0 rgba(0,0,0,0.2)
            .card-title
                color: $color-first
        img
            width: 100%
            height: 200px
            border-radius: 20px 20px 0px 0px
            background-size: cover
            object-fit: cover
            transition: 0.4s
        .ribbon
            position: absolute
            right: 10px
            width: 150px
            height: 150px
            z-index: 1
        .ribbon span
            border-radius: 5px
            font-size: 10px
            font-weight: bold
            color: #396156
            font-size: 16px
            line-height: 40px
            text-align: center
            width: 150px
            display: block
            background: #a6e9d7
            position: absolute
            top: 15px
            right: 10px

    .container
        padding: 2px 16px
        display: flex
        align-items: center
        justify-content: space-between
.like
    margin-right: 10px
    transistion: 1s
    &:hover
        font-weight: bold
        animation: slideup 1s forwards
        animation-fill-mode: both
        background: linear-gradient(to left top, #ff79da, #9356dc)
        background: -webkit-linear-gradient(to left top, #ff79da, #9356dc)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
@keyframes slideup
    0%
        opacity: 0%
    100%
        opacity: 100%

    .main-menu
        margin-top: -30px
        background-color: $primary
        border-radius: 50px 50px 0px 0px

    h2.resto
        font-size: 27px
        font-weight: 500
        color: black
        margin: 5px
        font-family: $logofont
        margin: 30px 6% 0px

.banner
    width: 100%
    height: 300px
    background-size: cover
    object-fit: cover
.a
    background-image: url("../imgs/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg" )
.b
    background-image: url("../imgs/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg" )
.c
    background-image: url("../imgs/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg" )
.d
    background-image: url("../imgs/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg" )

.fa-arrow-left
    position: absolute
    left: 25px
    top: 25px

.menu
    background-color: $bgsection
    border-radius: 25px 25px 0px 0px
    display: flex
    flex-direction: column
    margin-top: -40px
    padding-bottom: 15px
    .explorer-btn
        width: 40%
        margin: auto
        margin-top: 20px
    .menu-title
        margin: 15px
        display: flex
        justify-content: space-between
        .like
            margin-right: 10px
            cursor: pointer
        .like:hover
            background: linear-gradient(to top, #ff79da, #9356dc)
            background: -webkit-linear-gradient(to top, #ff79da, #9356dc)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            font-weight: bold

    .menu-block
        align-items: center
        margin: auto
        width: 90%
        .menu-sub-title
            border-bottom: 2px solid #99E2D0
            width: 20%

.delay-1
    animation-delay: .6s !important
.delay-2
    animation-delay: .8s !important
.delay-3
    animation-delay: 1s !important
.delay-4
    animation-delay: 1.2s !important
.card-menu-dish
    display: flex
    height: 70px
    border-radius: 15px
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.2)
    background-color: white
    border: none
    margin: 10px
    cursor: pointer
    justify-content: space-between
    animation: itemappear .6s forwards
    animation-fill-mode: both

    &:hover > .card-menu-dish__checkbox
        transform: scaleX(1)
        transform-origin: center right
        width: 6rem
        & > i
            transform: rotate(-1turn)

    &__infos
        width: 100%
        padding: 0 0 10px 10px
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden

    &__title

        font-size: 1.1rem
        line-height: 1.2
        margin-bottom: 0.5rem
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden

    &__seasoning
        font-size: 0.9rem
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden

    &__price
        display: flex
        align-items: flex-end
        justify-content: center
        padding-bottom: 10px
        margin-right: 15px

    &__checkbox
        background: #99E2D0
        border-radius: 0 15px 15px 0
        color: #fff
        width: 0
        transform: scaleX(0)
        transition: transform 500ms ease-in-out
        transform-origin: center right
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        overflow: hidden
        i
            transform: rotate(1turn)
            transition: transform 500ms ease-in-out
        @keyframes itemappear
            0%
                transform: scale(1)
                opacity: 0%
            70%
                transform: scale(1.04)
            100%
                transform: scale(1)
                opacity: 100%

.footer-section
    background-color: #3f3f3f
    color: #fff
    bottom: 0
    .logo
        color: #fff
        padding-left: 20px
    ul
        margin: 0

        li
            list-style: none
            a
                color: #fff

.section-loader
    background-color: #fff
    background-size: 100%
    position: fixed
    top: 0
    left: 0
    height: 100%
    height: 100%
    width: 100%
    overflow: auto
    display: flex
    z-index: 2
    white-space: nowrap
    justify-content: center
    align-items: center
    -moz-animation: cssAnimation 0s ease-in 3s forwards
    -webkit-animation: cssAnimation 0s ease-in 3s forwards
    -o-animation: cssAnimation 0s ease-in 3s forwards
    animation: cssAnimation 0s ease-in 3s forwards
    -webkit-animation-fill-mode: forwards
    animation-fill-mode: forwards

    @keyframes cssAnimation
        0%
            opacity: 1
        100%
            opacity: 0
            visibility: hidden

    @-webkit-keyframes cssAnimation
        0%
        opacity: 1
        100%
        opacity: 0
        visibility: hidden

    h1
        position: absolute
        font-size: 35px
    .loader
        position: absolute
        border: 6px solid $secondary
        border-radius: 50%
        border-top: 16px solid $color-first
        width: 120px
        height: 120px
        -webkit-animation: spin 1.5s linear infinite
        animation: spin 1.5s linear infinite

        @keyframes spin
            0%
                transform: rotate(0deg) scale(1.04)
                border-top: 6px solid $tertiaire
                border-bottom: 6px solid $tertiaire
                background-color: $secondary
                border-radius: 60%
                width: 200px
                height: 200px
            50%
                transform: rotate(450deg) scale(1.08)
                background-color: $color-first
                border-top: 6px solid $tertiaire
                border-bottom: 6px solid $tertiaire
                border-radius: 20%
                width: 100px
                height: 100px
            100%
                transform: rotate(360deg) scale(1.04)
                border-top: 6px solid $tertiaire
                border-bottom: 6px solid $tertiaire
                background-color: $secondary
                border-radius: 60%
                width: 200px
                height: 200px
                
