.explorer__btn {
  padding: 12px 15px;
  border: none;
  box-sizing: border-box;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
  background-image: linear-gradient(to top, #FF79DA, #9356dc);
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.explorer__btn:hover {
  box-shadow: 5px 8px 15px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to left top, #df7ec3, #a271df);
  transform: scale(1.05);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 20px;
  margin-top: 15px;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 680px) {
  .card {
    flex-basis: 45%;
    margin: 15px;
  }
}
@media screen and (min-width: 992px) {
  .card {
    margin: 25px;
    max-height: 300px;
    max-width: 20%;
    position: relative;
  }
}
.card:hover {
  box-shadow: 0 8px 36px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}
@media screen and (min-width: 992px) {
  .card:hover {
    box-shadow: 1px 1px 20px gray;
  }
  .card:hover img {
    box-shadow: 1px 1px 15px gray;
    border-radius: 20px;
    transform: scale(1.08) skewY(2deg);
  }
}
.card:hover .card__title {
  color: #9356dc;
}
@media screen and (min-width: 992px) {
  .card:hover .card__title {
    color: #9356dc;
  }
}
.card:hover .ribbon span {
  background: #c1ede2;
}
.card img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
}
.card .ribbon {
  position: absolute;
  right: 10px;
  width: 150px;
  height: 150px;
  z-index: 1;
}
.card .ribbon span {
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  color: #396156;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  width: 150px;
  display: block;
  background: #99E2D0;
  position: absolute;
  top: 15px;
  right: 10px;
}

.container {
  padding: 2px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heart__container {
  position: relative;
  width: 40px;
  height: 40px;
}
.heart__container .heart__clip {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-clip-path: url(#svgPath);
          clip-path: url(#svgPath);
}
.heart__container .heart__clip:hover::before {
  transform: scale(1);
  opacity: 1;
}
.heart__container .heart__clip::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(to top, #FF79DA, #9356dc);
  opacity: 0;
  transform: scale(0);
  transition: transform 0.2s linear, opacity 0.2s linear;
  transform-origin: center 60%;
}

.heart__stroke {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  fill: black;
}

.section__loader {
  background-color: #fff;
  background-size: 100%;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 3;
  white-space: nowrap;
  justify-content: center;
  align-content: center;
  -webkit-animation: cssAnimation 0s ease-in 3s forwards;
  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.section__loader h1 {
  position: absolute;
  font-size: 35px;
  margin-top: 105px;
}
.section__loader .loader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__loader .loader svg {
  fill: transparent;
  position: absolute;
  transform: scale(2);
}
@media screen and (min-width: 680px) {
  .section__loader .loader svg {
    transform: scale(1.2);
    margin-top: 55px;
  }
}
@media screen and (min-width: 992px) {
  .section__loader .loader svg {
    transform: scale(0.8);
    margin-top: 180px;
  }
}
.section__loader .loader svg path {
  position: absolute;
  transition: 1s;
  -webkit-animation: slide 2.1s forwards, bgColor 2s infinite;
          animation: slide 2.1s forwards, bgColor 2s infinite;
}
.section__loader .loader svg path:nth-child(1) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.section__loader .loader svg path:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.section__loader .loader svg path:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.section__loader .loader svg path:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.section__loader .loader svg path:nth-child(5) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.section__loader .loader svg path:nth-child(6) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
@-webkit-keyframes slide {
  0% {
    transform: translateX(550px);
  }
  50% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(0px);
  }
  90% {
    transform: skewX(10deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-700px);
    opacity: 0;
  }
}
@keyframes slide {
  0% {
    transform: translateX(550px);
  }
  50% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(0px);
  }
  90% {
    transform: skewX(10deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-700px);
    opacity: 0;
  }
}
@-webkit-keyframes bgColor {
  0% {
    fill: #9356dc;
  }
  50% {
    fill: #99E2D0;
  }
  100% {
    fill: #FF79DA;
  }
}
@keyframes bgColor {
  0% {
    fill: #9356dc;
  }
  50% {
    fill: #99E2D0;
  }
  100% {
    fill: #FF79DA;
  }
}

.menu__block {
  align-items: center;
  margin: auto;
  width: 90%;
}
@media screen and (min-width: 992px) {
  .menu__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.menu__block .menu-sub-title {
  border-bottom: 2px solid #99E2D0;
  -webkit-animation: line 1.8s forwards;
          animation: line 1.8s forwards;
  transition: 1.8s;
  margin: 0;
}
@media screen and (min-width: 992px) {
  .menu__block .menu-sub-title {
    width: 100% !important;
  }
}
@-webkit-keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
@keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}

.delay-1 {
  -webkit-animation-delay: 0.6s !important;
          animation-delay: 0.6s !important;
}

.delay-2 {
  -webkit-animation-delay: 1s !important;
          animation-delay: 1s !important;
}

.delay-3 {
  -webkit-animation-delay: 1.4s !important;
          animation-delay: 1.4s !important;
}

.delay-4 {
  -webkit-animation-delay: 1.8s !important;
          animation-delay: 1.8s !important;
}

.card-menu-dish {
  display: flex;
  height: 70px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: none;
  margin: 10px;
  cursor: pointer;
  justify-content: space-between;
  -webkit-animation: itemappear 2s forwards;
          animation: itemappear 2s forwards;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@media screen and (min-width: 992px) {
  .card-menu-dish {
    width: 30%;
    -webkit-animation: itemappear-right 2s forwards;
            animation: itemappear-right 2s forwards;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    height: 100px;
    align-items: center;
  }
}
.card-menu-dish:hover > .card-menu-dish__checkbox {
  transform: scaleX(1);
  transform-origin: center right;
  width: 6rem;
  height: 100%;
  transition: 0.55s ease-in-out 0s;
}
@media screen and (min-width: 992px) {
  .card-menu-dish:hover > .card-menu-dish__checkbox {
    width: 10rem;
  }
}
.card-menu-dish:hover > .card-menu-dish__checkbox > i {
  transform: rotate(-1turn);
}
.card-menu-dish__infos {
  width: 100%;
  padding: 0 0 10px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-menu-dish__title {
  font-size: 1.1rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-menu-dish__seasoning {
  font-size: 0.9rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-menu-dish__price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
  margin-right: 15px;
}
.card-menu-dish__checkbox {
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  color: #fff;
  width: 0;
  height: 100%;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
  transform-origin: center right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  transition: 0.55s ease-in-out 0s;
}
.card-menu-dish__checkbox i {
  transform: rotate(1turn);
  transition: transform 500ms ease-in-out;
}
@-webkit-keyframes itemappear {
  0% {
    opacity: 0;
    transform: translate(0px, 20%);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0%);
  }
}
@keyframes itemappear {
  0% {
    opacity: 0;
    transform: translate(0px, 20%);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0%);
  }
}
@-webkit-keyframes itemappear-right {
  0% {
    opacity: 0;
    transform: translate(150px, 0%) skew(20deg);
  }
  90% {
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0%) scale(1);
  }
}
@keyframes itemappear-right {
  0% {
    opacity: 0;
    transform: translate(150px, 0%) skew(20deg);
  }
  90% {
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0%) scale(1);
  }
}/*# sourceMappingURL=index.css.map */